<!DOCTYPE html>
<html>
<head>
  <title>Vendor Payment Tool</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", media: "all" %>


</head>
<body>
  <div class='navbar'>
    <div class='f-left customink-logo' onclick='navigate("/")'>
      <img alt="Inky" class="logo" src="/assets/inky.png" />
      <span class='brand'>Vendor Payment Tool</span>
      <%= tabs_tag :open_tabs => { :id => "tabs", :class => "cool" } do |tab| %>
          <%= tab.progress_payment 'Progress Payment', progress_payment_main_path %>
          <%= tab.charge_back 'Charge Back', charge_back_main_path %>
          <%= tab.gvp 'GVP', gvp_input_path %>
          <%= tab.manual_charges 'Manual Charges', manual_charges_main_path %>
          <%= tab.print_return 'Print Return', print_return_main_path %>
      <% end %>
    </div>

  </div>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end %>
  <%= yield %>

</body>
</html>
